$prompt-width: 75px;
$gets-height: 25px;
$adjust: 2px;

// Adjust input
$input-width-adjust: $prompt-width + $adjust;
$input-height-adjust: $gets-height - $adjust;

body {
  background: black;
  color: #FFF;
  font: 1.3rem Inconsolata, monospace;
  font-size: 12pt;
  margin: 0;
  padding: 10px;
}

#gets_div {
  display: inline;
  height: $gets-height;
  width: 100%;

  #gets {
    background: none;
    clear:both;
    float: left;
    height: $gets-height;
    line-height: $gets-height;
    width: $prompt-width;
  }
  #gets_input {
    background: none;
    border: none;
    color: #FFF;
    font: 1.3rem Inconsolata, monospace;
    font-size: 12pt;
    height: $gets-height - 2px;
    width: calc(100% - 77px);

    &:focus {
      outline-color: transparent;
      outline-style: none;
    }
  }
}
